html {
    font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 15px grey;
}

/* HEADER  */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    height: 55px;
    background: #F55A5A;
}

.header--title {
    font-weight: 500;
    font-size: 1.5rem;
}

.header--icon {
    margin: 15px;
    scale: 1.5;
}

.card {
    margin: 0px 40px;
    display: flex;
    /* border: 5px solid black; */
}

.card:first-child {
    margin: 45px 40px;
}

.card--img {
    height: 100%;
    width: 15em;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.card--heading {
    padding-top: 20px;
    display: flex;
    align-items: center; 
}

.fa-location-dot {
    color: #F55A5A;
    margin-right: 4px;
}

.card--location {
    margin-right: 12px;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: .17em;;
}

.card--title {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 4px 0 25px 0;
}

.card--date {
    margin: 10px 0;
    font-weight: 700;
    font-size: 1.1rem;
}

.card--description {
    font-size: 1.1rem;
}

.cards-list > .card + .card {
    padding: 4em 0 4em 0;
    border-top: 1px solid #918e9b;
  }

 