html {
    font-size: 62.5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    height: 55px;
    background: #F55A5A;
}

.header--icon {
    margin: 5px;
    
}

.card {
    width: 470px;
    height: 168px;
    margin: 100px 40px;
    display: flex;
}

.card--image {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}